.modal-content{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(170, 170, 170);
  width: 1000px;
  height: 300px;
  opacity: 0.95;
}

.SignUp{
  /* margin: auto; */
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.85;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.infos{
  width: 500px;
  height: 300px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  opacity: 0.95;
  text-align: center;
  padding: 20px;
  position: absolute;
}

.SignUpButtons{
  background: rgb(170, 170, 170);
  opacity: 0.95;
  justify-content: center;
  /* position: inherit; */
}

.modal-footer{
  margin: auto;
  width: 54%;
  padding: 0px;
}

.name{
  margin: 14px;
}
.btn.btn-primary.bootbox-accept{
  margin-left: 450px;
}

.yolo1{
  font-size: 60px;
  color: blue;
  right: 260px;
  top: 30%;
  float: inherit;
  position: initial;
  font-weight: bolder;
}

.yolo2{
  font-size: 60px;
  color: blue;
  right: 260px;
  left:30%;
  top: 60%;
  float: inherit;
  position: initial;
  font-weight: bolder;
}

#Homepage{
  background: url("https://ingredienthero.s3.us-east-2.amazonaws.com/Image+from+iOS+(1).jpg") no-repeat center center fixed;
  content: '';
  background-blend-mode: color-burn;
  filter: drop-shadow(2px 4px 6px black);
  /* background-blend-mode:  */
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-color: rgba(138, 136, 136, 0.375);
  background-size: cover;
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: no-repeat;
}

.p1{
  font-weight: bolder;
  opacity:1;
  color: hotpink;
  width: 760px;
  position: initial;
  right: 260px;
  top: 52%
}

.p2{
  font-weight: bolder;
  opacity:1;
  color: hotpink;
  width: 760px;
  position: initial;
  right: 260px;
  top: 80%
}

#recipe {
  float: right;
  width: 1100px;
  padding: 50px;
  margin: 20px;
  background-color: beige;
  opacity: 0.8;
  position: sticky;
  
}

#foodImage {
  width: 315px;
  height: 215px;
  /* position: relative; */
  margin-right:2%;
  float: left;
}

#pantry {
  background-image: url("https://ingredienthero.s3.us-east-2.amazonaws.com/Image+from+iOS+(1).jpg");
  content: '';
  /* background-blend-mode:  */
  /* z-index: -1; */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  overflow: scroll;
  
}


#recipeBasics {
  position: relative;
  float: left;
}

.recipeInst {
  float: left;
}

#recipeTitle {
  text-transform: uppercase;
  font-size: larger;
}

#suggestedTitle {
  color: beige;
  text-align: -webkit-center;
}




/* Page before welcome page background url https://ingredienthero.s3.us-east-2.amazonaws.com/Image+from+iOS.jpg */