.modal-content{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(170, 170, 170);
  width: 1000px;
  height: 300px;
  opacity: 0.95;
}

#SignUp{
  margin: auto;
  width: 50%;
  padding: 70px;
}

.modal-footer{
  margin: auto;
  width: 54%;
  padding: 0px;
}

.name{
  margin: 14px;
}
.btn.btn-primary.bootbox-accept{
  margin-left: 450px;
}

.yolo{
  font-size: 200px
}